body {
  margin: 0;
  padding: 0;
  font-family: sans-serif ;
  background : linear-gradient(to right ,  rgb(135, 96, 226), rgb(0, 255, 191)); 
  /* background-repeat: round; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
